EPROCUREMENTWEB.COMPRAS/Eprocurement.Compras/Connected Services/ServiceReference1/DXS_VendorGroupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DXS_VendorGroupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_DXS_VendorPostService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://172.16.1.48:8150/DynamicsAx/Services/DXS_VendorGroupService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_DXS_VendorPostService" type="i0:DXS_VendorPostService">
    <wsp:PolicyReference URI="#NetTcpBinding_DXS_VendorPostService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getAddressVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/getAddressVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceGetAddressVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceGetAddressVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceGetAddressVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateContactVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/updateContactVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceUpdateContactVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceUpdateContactVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceUpdateContactVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/createVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceCreateVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceCreateVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceCreateVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createContactVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/createContactVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceCreateContactVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceCreateContactVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceCreateContactVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUpdateVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/createUpdateVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceCreateUpdateVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceCreateUpdateVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceCreateUpdateVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAddressVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/createAddressVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceCreateAddressVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceCreateAddressVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceCreateAddressVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContactVendor">
      <soap12:operation soapAction="http://tempuri.org/DXS_VendorPostService/getContactVendor" style="document" />
      <wsdl:input name="DXS_VendorPostServiceGetContactVendorRequest">
        <soap12:header message="i0:DXS_VendorPostServiceGetContactVendorRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DXS_VendorPostServiceGetContactVendorResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DXS_VendorGroupService">
    <wsdl:port name="NetTcpBinding_DXS_VendorPostService" binding="tns:NetTcpBinding_DXS_VendorPostService">
      <soap12:address location="net.tcp://172.16.1.48:8250/DynamicsAx/Services/DXS_VendorGroupService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.16.1.48:8250/DynamicsAx/Services/DXS_VendorGroupService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AXSOPORTE@gap.net</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>