EPROCUREMENTWEB.COMPRAS/Eprocurement.Compras/Connected Services/ServiceReference1/DXS_VendorGroupService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.48:8150/DynamicsAx/Services/DXS_VendorGroupService?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="DXS_VendorPostServiceGetAddressVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q1:VendorAddressContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceGetAddressVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:VendorAddressResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceUpdateContactVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q3:VendorContactContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceUpdateContactVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:VendorContactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q5:VendorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:VendorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateContactVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q7:VendorContactContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateContactVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:VendorContactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateUpdateVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q9:VendorAddressContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateUpdateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:VendorAddressResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateAddressVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q11:VendorAddressContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceCreateAddressVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:VendorAddressResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceGetContactVendorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q13:VendorContactContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DXS_VendorPostServiceGetContactVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:VendorContactResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>